#calendar
{
    max-width: 90%;
    margin: auto;
}

#calendar .fc-toolbar
{
    margin-top: 10px;
}

#calendar .fc-left h2
{
    font-size: 25px;
}

/*#calendar .fc-today
{
    background: #FFFA90;
}*/

#calendar .fc-day:hover
{
    background: #fcf8e3;
}

#calendar .fc-widget-header .fc-sat span
{
    color: red;
}

#calendar .fc-widget-header .fc-sun span
{
    color: red;
}

#calendar .fc-day-price
{
    background: #EC463F;
    padding: 4px;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    display: none;
    opacity: 0.8;
    z-index: 11;
}


.popup-calendar {
    width: 350px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f1f1f1;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 12;
    padding-bottom: 20px;
    display: none;
}

.close-popup-calendar {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    line-height: 25px;
    background-color: white;
    color:#769dd5;
}

.content-period {
    text-align: center;
}

.content-period .caption-period {
    display: block;
    background-color: #769dd5;
    color:white;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

.content-period .input-period-date {
    padding-top: 15px !important;
    display: block;
}

.content-period > span > input {
    padding: 5px;
    width: 45%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.wrapper-btn-popup {
    text-align: center;
    margin-top: 15px;
}

.period-checkbox table {
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.period-checkbox td {
    padding: 0 5px;
}

.price-room {
    padding: 0 20px;
}

.price-room b, .offers-room-wrapper b {
    float: right;
    text-align: right;
    width: 50%;
}

.price-room b input, .offers-room-wrapper b input {
    max-width: 45%;
    min-width: 30%;
    padding: 3px;
    border: 1px solid #ccc;
}

.offers-room-wrapper {
    background-color: #FFF6E8;
    padding: 10px 10px 15px;
    margin: 7px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.offers-room-wrapper span {
    border-bottom: 1px dashed black;
    cursor: pointer;
    line-height: 17px;
}

.room-not-available {

    padding: 10px;
    background-color: #FFF6E8;
    margin: 10px 20px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.room-not-available label span {
    padding-top: 3px;
    display: block;
    float: right;
}

.room-not-available input[type="checkbox"] {
    margin-right: 5px;
}

.active-day {
    background-color: #769dd5 !important;
}

.current-day {
    background-color: #02c835 !important;
}

.year-select-style {
    float: right !important;
}

.close-day {
    background-color: brown !important;
}

.errors-message {
    position: fixed;
    left: 50%;
    top: -20%;
    transform: translate(-50%);
    opacity: 0;
    z-index: 15;
}