@media only screen and (max-width: 767px) {
    .wrapper-tabs, .link-tab, .wrapper-tabs-global  {
        width:100%;
    }

    .link-tab ul li {
        width:33.3%;
    }

    .link-tab ul li a {
        width:100%;
    }

    #sidebar {
        width:30px;
    }

    .main-menu ul li a {
        padding: 10px 0 10px 5px;
    }

    .mini-menu {
        float:none;
        text-align: center;
    }

    .telefons-contacts span, .telefons-contacts ul {
        float:none;
        text-align: center;
    }

    .telefons-contacts ul {
        padding-left: 0;
    }

    .logo {
        width:auto;
    }

    #topMenu {
        padding-top: 0;
    }

    .caption-page {
        font-size: 24px;
        text-align: center;
    }

    .main-menu ul li a img {
        width:18px;
    }

    .main-menu ul li a span {
        top:12px;
    }

    .field > label {
        padding-right: 0;
        line-height: normal;
        text-align: left;
    }

    .caption-list {
        display: none;
    }

    .logo-sidebar i {
        padding: 10px 6px;
    }


    .text-room {
        padding: 10px;
    }

    .object-where-about td {
        display: block;
    }

    .btn-save-room {
        display: block;
        margin: 25px auto;
    }

    .room-object {
        width:100%;
    }

    .content-room a {
        width: 47%;
        font-size: 13px;
    }


    .wrapper-radio-btn {
        width:100%;
    }

    .copyright {
        line-height: normal;
        padding: 5px;
    }

    .wrapper-add-room form {
        float: none;
    }

    .grid-item {
        width:100%;
    }

    .wrapper-beds select {
        width:100%;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width:100% !important;
        margin-bottom: 7px;
    }

    .list-month {
        clear: both;
        margin-bottom: 15px;
    }

    .style-calendar td{
        height: auto;
    }

    #calendarTable table th {
        font-size: 7px;
        padding: 5px 0;
    }

    .number-day-calendar span {
        width:100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        float: none;
    }

    .number-day-calendar b {
        display: block;
        text-align: center;
        font-size: 8px;
        padding-right: 0;
        float: none;
    }

    .number-day-calendar b {
        line-height: 20px;
    }

    ul.info-calendar-day {
        display: none;
        /*потом вернуть*/
    }
    .field textarea {
        width:100%;
    }

    .create-ticket-form form {
        width:100%;
    }

    .create-ticket-form input[type="submit"] {
        margin: 0 auto;
        float: none ;
    }

    .reservation-style-mobile, .menu-mobile {
        display: block;
    }

    .list-reservation-content .table-reservation, .list-reservation-content th, #sidebar {
        display: none;
    }

    .btn-print {
        display: none;
    }

    .caption-page a {
        float:none;
        margin-top: 10px;
    }

    .menu-mobile {
        display: block;
        width:100%;
        text-align: center;
        color:white;
        background-color: black;
        padding: 7px;
        font-size: 18px;
    }

    .wrapper-period input {
        width:90px !important;
    }

    .description-reservation ul {
        text-align: left;
    }

    .description-reservation ul li b {
        display: inline-block;
        min-width: 150px;
    }

    .data-reservation input[type="text"], .data-reservation select {
        margin-bottom: 10px;
    }

    .data-reservation td {
        display: block;
    }

    .description-reservation {
        display: none;
    }

}

@media only screen and (min-width: 768px)  and (max-width: 959px) {

}