@media only screen and (max-width: 767px) {
    #topMenu {
        height: auto;
    }

    .search-form .field-search {
        margin: 10px 0;
    }

    .search-string-style {
        width:100%;
        margin-bottom: 0 !important;
    }

    .arrival-style, .guest-field-style, .btn-submit-search {
        width:49%;
    }

    .btn-show-more-img-hotel {
        display: none !important;
    }

    .btn-show-more-img-hotel-mobile {
        display: block;
    }

    .btn-preview {
        display: none;
    }

    .address-object {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .list-images-hotel {
        height: 145px;
    }

    .list-images-hotel ul li:nth-child(2n) {
        margin-right: 0;
    }

    .list-images-hotel ul li {
        margin-right: 10px;
        width:157px;
        margin-bottom: 17px;
    }

    .search-form form {
        padding: 0 12px;
    }

    .search {
        margin: 30px 0;
    }

    #topBlock {
        min-height: inherit;
    }

    .arrival-style {
        margin-bottom: 0 !important;
    }

    .list-cities-category ul {
        padding-left: 0;
        width:100%;
    }

    .list-cities-category ul li a {
        margin: 0;
        position: relative;
        border-bottom: 1px solid #EDEFF0;
        margin-top: 4px;
        /*text-align: center;*/
    }

    .list-cities-category ul li a img{
        right:0;
        position: absolute;
        height: 38px;
        width:50px;
        top:-2px;
        display: block;
    }

    .list-cities-category.active {
        text-align: left;
    }
    .pluse-reservation-hotel h2, .shares-style h2, .pluses-user h2, .reservation-steps-style h2, .reviews-style h2, .form-application h3, .wrapper-pluses-company h3, .confidence h2, #aboutCompany h2, #partnersApplication h2, #howAreWorkProject h2, #faqProject h2, #aboutOfService h2 {
        font-size: 23px;
    }

    .pluse-reservation-hotel ul li {
        margin: 0 0 30px;
    }

    .list-pluses ul li {
        width:49%;
    }

    .pluses-user, #userBlock {
        height: auto;
        background-size:cover;
    }

    .pluses-user {
        padding-bottom: 30px;
    }

    .block-count-guest ul li input {
        width:35px;
        height: 35px !important;
    }

    .input-count-guest a{
        width:35px !important;
        height: 35px !important;
        line-height: 35px !important;
    }

    .block-count-guest {
        top:50px !important;
    }

    .popup-hotel-map {
        width:96%;
    }

    .popup-hotel-map #map {
        width:100%;
        height: 270px;
    }

    .popup-hotel-map h3 {
        font-size: 16px;
    }

    .list-reviews {
        width:auto;
    }

    .copyright-style, .copyright-style a {
        text-align: center;
    }

    .copyright-style {
        padding-bottom: 15px;
    }

    .mobile-arrow-see-later-hotel {
        display: block;
    }

    .one-shares {
        width:270px;
    }

    .see-later-slider ul li {
        margin-right: 0;
    }

    .copyright-style ul {
        float:none;
        margin-top: 0;
    }

    .footer-style {
        text-align: center;
    }

    .footer-style h4 {
        padding-top: 15px;
    }

    /*.messages-phones {*/
        /*display: none;*/
    /*}*/

    .messages-phones ul li a {
        width:40px;
        height: 40px;
        padding-top: 0;
    }

    .messages-phones ul li a img {
        display: inline-block;
        width: 60%;
        padding-top: 8px;
    }

    .messages-phones {
        right: 20px;
        bottom: 30px !important;
    }

    .popup-recall {
        right:0;
        width:90%;
        left:50%;
        transform: translate(-50%);
    }

    .popup-reviews-site{
        width:100%;
    }

    .text-page-help table td:first-child {
        padding-right: 15px;
    }

    .main-content-help-page h3 {
        font-size: 20px;
    }

    .popup-reservation-rooms {
        width:100%;
        position: fixed;
        transform: none;
        left:0;
        top:20%;
    }

    .btn-popup-reservation li a {
        padding: 0 8px;
    }

    .content-reservation h4 {
        text-align: center;
        font-size: 14px;
    }

    .content-reservation table td {
        font-size: 13px;
    }

    .content-reservation {
        padding-left: 0;
        padding-right: 0;
    }

    .content-reservation table td:first-child {
        font-size: 13px;
        width:20%;
    }

    .other-style-for-count-room ul li input {
        width:20px;
        height: 20px;
        font-size: 13px;
    }

    .other-style-for-count-room ul li a {
        width:20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    .category-list ul li, .top-menu ul li  {
        display: block;
    }

    .top-menu ul li {
        padding: 0;
    }

    .top-menu ul li.font-bold {
        position: relative;
        margin: 0 auto;
    }

    .wrapper-form-partners-application input[type="text"]:nth-child(2n + 1) {
        margin-right: 0;
    }

    .wrapper-form-partners-application input[type="text"], .wrapper-form-partners-application input[type="submit"] {
        width:100%;
    }

    .top-menu ul li.font-bold a {
        padding: 7px;
        top:0;
    }

    .language-list {
        float:none;
    }

    .main-content-help-page form {
        width:auto;
    }

    .wrapper-img-feedback {
        width:100%;
    }

    .mini-content-feedback {
        width:100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .span-select-for-category > span, .span-select-for-category, .span-select-for-category ul {
        width:100%;
    }

    .wrapper-feedback-class {
        border-right: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .type-feedback label {
        margin-right: 0;
    }

    .type-feedback label span {
        padding-left: 0;
        font-size: 14px;
    }

    .description-feedback ul li {
        width:100%;
        margin-bottom: 15px;
    }

    .raiting-object > ul > li {
        width:100%;
    }

    .type-feedback ul li {
        margin-right: 5px;
    }

    .wrapper-top-menu {
        display: none;
    }

    .top-menu {
        background-color: #19222D;
        color:white;
        display: none;
    }

    .bars-top {
        display: block;
        float: right;
    }

    .bars-top a {
        display: block;
        margin-top: 30px;
    }

    .wrapper-bar {
        display: block;
    }

    .top-menu > ul > li > a {
        color:white;
    }

    .viber-project, .viber-project img {
        width:100%;
    }

    .list-cities-region .caption-region-block {
        text-align: center;
    }

    .list-cities-region ul li {
        width:75%;
        margin-bottom: 15px;
    }

    .wrapper-form-partners-application form {
        width:100%;
    }

    #faqProject ul li {
        display: block;
        width:100%;
    }

    #faqProject ul li:nth-child(2n) {
        margin-left: 0;
    }

    #faqProject ul li span {
        display: inline-block;
        width: 90%;
        vertical-align: middle;
    }

    #howAreWorkProject ul li:nth-child(2), #howAreWorkProject ul li:nth-child(3) {
        margin: 50px 0;
    }

    #howAreWorkProject ul li {
        display: block;
    }

    .arrow-dashed {
        display: none;
    }

    .wrapper-span-beside-object-distance i {
        left:155px;
        right:inherit;
    }

    .left-sidebar-category table {
        width:90%;
        margin: 0 10px;
        display:none;
    }

    .left-sidebar-category {
        margin-top: 35px;
    }

    .map-all-object {
        height:45px;
    }

    .sort-filter ul li {
        display: block;
    }

    .sort-filter ul {
        display: block;
    }

    .sort-filter ul li a {
        margin: 5px 0;
    }

    .one-room-this-hotel > ul > li:nth-child(2) {
        width:auto;
        padding: 0;
    }

    .name-room-hotel strong{
        width:100%;
        display: block;
        text-align: center;
        margin: 7px 0;
    }

    .conditions-reservation table {
        margin-top: 20px;
    }

    .wrapper-pluses-reservation {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .list-objects .one-room-this-hotel .one-shares {
        width:100%;
    }

    .list-objects table tr td:nth-child(1) {
        font-size: 15px;
    }

    .name-room-hotel strong a span {
        display: block;
    }

    .address-object a {
        display: block;
    }

    .address-object i {
        text-align: center;
    }

    .one-room-this-hotel > ul > li {
        float:none;
    }

    .one-room-this-hotel .one-shares {
        height:auto;
    }

    .left-sidebar-category i.arrow-down {
        display: block;
    }

    .category-wrapper table h2 {
        font-size: 18px;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }

    .category-wrapper table .count-objects {
        font-size: 15px;
    }

    .map-wrapper #mapLeft {
        width:100%;
    }

    .main-content-hotel h2 {
        font-size: 16px;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    .menu-hotel ul li a {
        padding: 5px 15px;
    }

    .tab-hotel p {
        text-align: justify;
    }

    .btn-show-map-hotel {
        float: none;
    }

    .recomendation-hotels {
        width:100%;
    }

    .caption-recomendation-hotel {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .wrapper-recomendation-hotels {
        padding: 0 30px;
    }
    .main-img {
        min-height: 50px;
    }

    .form-find-hotel > ul > li, .btn-search-hotel-on-the-date {
        width:49% !important;
    }

    .form-find-hotel > ul > li > label > input {
        width:100%;
    }

    .input-count-guest  {
        width:49% !important;
        margin-top: 7px;
    }

    .input-count-guest label input {
        width:100% !important;
    }

    .btn-search-hotel-on-the-date {
        margin-left: 0;
        margin-top: 7px;
    }


    /*.list-pluses-room li:nth-child(n+1):nth-child(-n+5) {*/
        /*display: inline-block;*/
    /*}*/

    .name-room-hotel .price-room-hotel {
        display: block;
        float: none;
        text-align: center;
    }

    .what-is-the-room ul li {
        width:100%;
    }

    .what-is-the-room ul li span {
        width:90%;
    }

    .other-info-about-room ul li {
        width:100%;
        display: block;
    }

    .other-info-about-room ul li:nth-child(2n) {
        padding-left: 0px;
    }

    .info-reservation-popup p {
        text-align: justify;
    }

    .btn-reservation-success {
        width:150px;
        margin-right: 0;
        clear: both;
        float:right;
        margin-top: 10px;
        font-size: 11px;
    }
    .btn-reservation {
        font-size: 11px;
    }

    .min-price-room-hotel {
        display: none !important;
    }

    .stars-hotel {
        display: block !important;
        text-align: center;
    }

    .form-for-reservation input[type="text"] {
        width:100%;
    }

    .form-for-reservation textarea {
        width:100%;
        margin: 0;
    }

    .reservation-content {
        border-right: none;
    }


    .form-for-reservation input[type="submit"] {
        margin: 30px auto;
        width:100%;
    }

    #wrapperReservationContent {
        margin-bottom: 30px;
    }

    #wrapperReservationContent .col-lg-3 {
        padding-left: 15px !important;
    }

    .form-for-reservation label {
        display: block;
    }

    .form-for-reservation input[name="link-referal"] {
        margin-top: 10px;
    }

    .list-rooms-reservation li a {
        text-align: center;
        font-size: 18px;
    }

    .main-info-by-reservation > ul > li {
        display: block;
    }

    .main-info-by-reservation .img-object {
        text-align: center;
        margin: 0 auto 15px;
    }

    .main-info-by-reservation > ul:first-child {
        text-align: center;
    }

    .main-info-by-reservation .img-object {
        width:320px;
        height: 250px;
    }

    .conditions-reservation {
        width:100%;
    }

    .wrapper-pluses-reservation ul li {
        width:auto;
    }

    .conditions-reservation table td:first-child {
        width:auto;
        padding-right: 10px;
    }

    .desktop-hide {
        display: block;
    }

    .desktop-show {
        display: none;
    }

    .btn-mobile-show-categories {
        display: block;
    }

    .category-list ul li a {
        padding: 0 25px;
        margin: 5px 0;
        border-right: none;
        font-size: 18px;
    }

    #categoryHome {
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .category-list {
        display: none;
    }

    .list-pluses-user ul li {
        margin-top: 15px;
    }

    .left-img-auth {
        display: none;
    }

    .form-auth form {
        width:100%;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .btn-remember-password {
        float:none;
    }

    .form-auth h2 {
        margin-left: 0;
        text-align: center;
    }

    .form-auth label {
        width:100%;
    }

    .form-auth input[type="text"], .form-auth input[type="password"], .contact-form input[type="text"], .contact-form textarea {
        width:100%;
    }

    .overlay-top-menu {
        display: none;
    }

    .top-menu > ul > li > a {
        text-align: center;
        border-top: 1px solid white;
        border-bottom: none;
        padding: 10px 0;
    }

    .top-menu ul li a.active {
        border-bottom: none;
        font-weight: bold;
    }

    .top-menu ul li.font-bold a:hover {
        box-shadow: none;
    }

    .bars-top i {
        display: block;
        width: 35px;
        border-top: 1px solid black;
        margin-bottom: 7px;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .close-bars-top i {
        border-top: 1px solid white ;
        width:23px;
    }

    .top-menu ul li.auth-block {
        margin-left: 0;
    }

    .sort-reservation-user > ul > li:nth-child(2), .sort-reservation-user > ul > li:nth-child(3) {
        float:none;
    }

    .sort-reservation-user > ul > li:first-child {
        display: block;
   }

    .select-sort-reservation {
        width:150px;
        font-size: 13px;
        height:42px;
    }

    .sort-reservation-user > ul > li {
        vertical-align: top;
    }

    .dropdown-filter-reservation ul li a {
        font-size: 14px;
    }

    .count-reservation-user {
        text-align: center;
        font-size: 24px;
    }

    .one-reservation-user {
        height: auto;
    }

    .reservation-hotel-image {
        width:100%;
        height: 250px;
    }

    .main-content-reservation h3 {
        text-align: center;
        padding-left: 0;
    }

    .main-content-reservation > h3 > a {
        text-align: center;
        display: block;
        max-width: 100%;
    }

    .main-content-reservation {
        width:100%;
    }

    .address-hotel-reservation {
        text-align: center;
        padding-left: 0;
    }

    .info-price-reservation {
        width: auto;
        text-align: center;
        display: block !important;
    }

    .list-pluses-hotel-reservation {
        margin: 10px;
    }

    .list-pluses-hotel-reservation ul li {
        width:49%;
    }

    .status-reservation {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .status-reservation ul li:first-child {
        position: initial;
    }

    .status-reservation ul li {
        display: block;
    }

    .status-reservation ul li:nth-child(3) a {
        margin: 0 auto;
    }

    .status-reservation ul li:nth-child(2) a {
        margin: 10px auto;
    }

    .filters-balans-user ul li:first-child {
        display: block;
    }

    .filters-balans-user ul li {
        width:49%;
    }

    .filters-balans-user ul li {
        margin-right: 0;
    }

    .list-tabs-balans-user ul li a {
        width:163px;
    }

    .one-tab-info-user table th {
        font-size: 13px;
    }

    .success-registration {
        width:100%;
        margin-left: 0;
    }

    .success-registration h3 {
        font-size: 16px;
    }

    .success-registration span {
        font-size: 12px;
    }

    .social-buttons {
        margin-left: 0;
    }

    .social-buttons li {
        width:49%;
    }
    .social-buttons li a {
        width:100%
    }

    .wrap-success-registration-btn {
        width:100%;
        margin-left: 0;
    }

    .field-password-auth {
        width:100% !important;
    }

    .list-menu-profile-user {
        margin-top: 20px;
    }

    .field-user label {
        display: block;
    }

    .field-user ul li {
        margin-right: 0 !important;
        width:100%;
    }

    .address-info-user ul li .one-address-user input {
        width:100%;
    }

    .one-address-user {
        margin-bottom: 15px;
    }

    .promocode-popup {
        width:95%;
    }

    .content-promocode {
        width:100%;
        float:none;
        padding-left: 0;
        clip-path: none;
    }

    .content-promocode h3 {
        margin-top: 0;
        padding-top: 10px;
    }

    .feedback-account ul li {
        width:100%;
        margin-bottom: 20px;
    }

    .feedback-account {
        margin-top: 15px;
    }

    .top-menu ul li.auth-block span.link-auth {
        text-align: center;
        position: relative;
        margin: 0 auto;
        top:0;
        display: block;
        z-index: 2;
    }

    .top-menu ul li.auth-block ul li {
        padding-left: 0;
    }

    .registration-popup {
        width:96%;z-index: 9999;
    }

    .wrap-registration-sociallite ul li a {
        width:135px;
    }

    .registration-popup {
        top:10px;
        padding-bottom: 20px;
        height: 85%;
    }

    .registration-popup > span {
        font-size: 14px;
    }

    .wrap-registration-sociallite h4 {
        font-size: 12px;
        width: 91%;
    }

    .quick-view {
        width:100%;
        left:0;
        top:0;
        height: 100%;
        transform: none;
    }

    .header-info ul li {
        display: block;
        width:100%;
    }

    .name-hotel-and-address {
        padding-top: 5px;
    }

    .btn-to-hotel {
        padding-top:15px;
    }
    .header-info ul li:last-child {
        width: 100%;
        margin-left: 0;
    }

    .header-quick-view {
        height: 100%;
    }

    .name-hotel-and-address {
        text-align: center;
    }

    .menu-popup ul li {
        display: block;
        width:100%;
    }

    .menu-popup ul li a {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
    }

    .list-images li img {
        width:135px;
    }

    .list-images li {
        margin-right: 0;
    }

    .mobile-top-menu .logo {
        padding-left: 10px;
        background-color:#303941 ;
        width:100%;
    }

    .mobile-top-menu .logo img {
        width:auto;
    }

    #footer h4 {
        text-align: left;
        color:#AAE0F5;
        position:relative;
        font-family: RobotoBold;
        font-size: 15px;
    }

    #footer h4:after {
        position: absolute;
        content:url(../images/arrow-h4.png);
        right:10px;
    }

    .logo-footer img {
        width:80%;
        margin: 0 auto;
    }

    #footer .col-lg-12 {
        padding: 0;
    }

    #footer {
        background-color: #0C1C29;
    }

    .contacts-h4 {
        display: none !important;
    }

    .mobile-p {
        display: block;
    }

    #footer ul {
        margin-bottom: 55px;
    }

    #footer ul li a {
        background-color: #192732;
        position: relative;
        text-align: left;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        padding:0 20px;
        border-bottom: 1px solid #3C4650;
    }

    #footer ul li a:after {
        position: absolute;
        right:10px;
        top:7px;
    }

    #footer ul li:last-child a {
        border-bottom: none;
    }

    .logo-footer p {
        display: none;
    }

    .about-company-footer a:after {
        content:url(../images/about-company-footer.png);
    }

    .contacts-footer a:after {
        content:url(../images/company-footer.png);
    }

    .faq-footer a:after {
        content:url(../images/faq-footer.png);
    }

    .guarantees-footer a:after {
        content:url(../images/guarantees-footer.png);
    }

    .news-footer a:after {
        content: url(../images/news-footer.png);
    }

    .reviews-footer a:after {
        content:url(../images/reviews-footer.png);
    }


    .hotels-footer a:after {
        content: url(../images/hotels-footer.png);
    }

    .sea-hotel-footer a:after {
        content: url(../images/sea-hotels-footer.png);
    }

    .mountain-hotel-footer a:after {
        content:url(../images/mountain-hotel-footer.png);
    }

    .recovery-hotel-footer a:after {
        content: url(../images/recovery-hotel-footer.png);
    }

    .partners-footer a:after {
        content: url(../images/partners-footer.png);
    }

    .bussiness-footer a:after {
        content: url(../images/bussiness-footer.png);
    }

    .groups-footer a:after {
        content:url(../images/groups-footer.png);
    }

    .contacts-style li {
        position: relative;
        padding-left: 30px;
        margin-top: 10px;
    }

    .contacts-style li:first-child:before {
        position: absolute;
        margin-left: -40px;
        top:0;
        content: url(../images/phone-mobile-menu.png);
    }

    .contacts-style li:last-child:before {
        position: absolute;
        margin-left: -40px;
        top:0;
        content: url(../images/mail-footer.png);
    }


    .contacts-style li:first-child {
        padding-left: 0;
    }

    .list-reviews ul li .one-review {
        width:auto;
    }

    .list-reviews ul li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width:100%;
        flex: none;
    }

    .list-reviews ul {
        width:100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .quick-view {
        display: none;
    }


}

@media only screen and (min-width: 768px)  and (max-width: 959px) {

    .logo {
        width:100%;
    }

    .top-menu ul li a {
        font-size: 13px;
    }

    .logo a {
        line-height: 70px;
    }

    .logo a img {
        vertical-align: middle;
        width:100%;
        height: auto;
    }

    .top-menu ul li {
        padding: 23px 2px;
        text-transform: inherit;
    }

    .top-menu ul li.font-bold {
        width:175px;
        padding: 0;
        font-size: 14px;
    }

    .top-menu ul li.auth-block {
        width:100px;
        min-width: inherit;
    }

    .reservation-content {
        padding-right: 5px;
    }

    .other-info-about-room ul li {
        width:45%;
    }

    .form-for-reservation label {
        display: block;
    }

    .form-for-reservation label input[type="text"], .form-for-reservation input[name="link-referal"] {
        width:100% !important;
    }

    .form-for-reservation textarea {
        width:95%;
    }

    .description-about-object {
        padding-left: 10px;
    }

    #wrapperReservationContent {
        margin-bottom: 50px;
    }

    .label-checkbox-agree span {
        width:90%;
    }

    .info-about-room ul li span.name-room {
        width:50%;
    }

    .map-contacts iframe {
        height: 300px;
    }

    .search-string-style {
        width:90%;
    }

    .search-form .field-search {
        margin: 20px 0;
    }

    .search-form .field-search:first-child {
        margin-bottom: 0 !important;
    }

    .category-list ul li a {
        text-transform: inherit;
        padding-right: 7px;
        padding-left: 0;
        font-size: 13px;
    }

    .list-cities-category.active {
        text-align: left;
    }

    .list-cities-category ul {
        padding-left: 0;
        width:24%;
    }

    .one-room-this-hotel > ul > li {
        float:none;
    }

    .list-cities-category ul li a {
        margin: 0;
        font-size: 14px;
    }

    .pluse-reservation-hotel ul li {
        margin: 12px 35px;
    }

    .pluses-user {
        height: auto;
        padding-bottom: 15px;
    }

    .list-pluses-user ul li {
        margin-bottom: 20px;
    }

    #userBlock {
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .list-steps-reservation ul li {
        margin: 10px 6px;
    }

    .list-steps-reservation ul li span {
        font-size: 13px;
    }

    .list-reviews {
        width:94%;
    }

    .contacts-style {
        font-size: 12px;
    }

    .left-sidebar-category .label-checkbox-agree span {
        width: auto;
    }

    .sort-filter ul li a {
        margin: 4px 5px 0;
        font-size: 13px;
    }

    .map-all-object {
        height: 50px;
    }

    .wrapper-span-beside-object-distance i {
        right:60px;
    }

    .one-room-this-hotel > ul > li:nth-child(2) {
        width:auto;
        padding-left: 0px;
        padding-top: 10px;
    }

    .list-objects .one-room-this-hotel .one-shares {
        width:100%;
        height: auto;
    }

    .name-room-hotel strong {
        width:100%;
    }

    .viber-project img {
        width:100%;
    }

    .map-wrapper #mapLeft {
        width:100%;
    }

    .main-img {
        min-height: inherit;
    }

    .one-shares {
        width:200px;
        height: 120px;
    }

    .recomendation-hotels {
        width:100%;
    }

    .arrow-recomendation {
        top:23%;
    }

    .input-count-guest {
        width:50% !important;
        margin-top: 10px;
    }

    .input-count-guest input[type="text"] {
        width:100% !important;
    }

    .btn-search-hotel-on-the-date {
        width:49% !important;
        margin-left: 0;
        margin-top: 10px;
    }

    .btn-show-map-hotel a {
        margin-top: 10px;
    }

    .menu-hotel {
        margin-bottom: 45px;
    }

    .one-room-this-hotel .one-shares {
        width:100%;
        height:100%;
    }

    .one-room-this-hotel .name-room-hotel strong {
        width:65%;
    }

    .what-is-the-room ul li {
        width:49%;
    }

    .what-is-the-room ul li span {
        width:auto;
    }

    .btn-reservation-hotel {
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }

    .overlay-share {
        width:100%;
        height:100%;
    }

    .shares-style .one-shares {
        width: 255px;
        height: 185px;
    }

    .sort-reservation-user {
        margin-top: 10px;
    }

    .main-content-reservation {
        width:45%;
    }

    .main-content-reservation .reviews-hotel {
        margin-left: 0;
        display: block !important;
    }

    .status-reservation ul li:nth-child(2) a {
        width:120px;
    }

    .status-reservation ul li:nth-child(3) a {
        width:190px;
    }

    .quick-view {
        width:98%;
    }

    .name-hotel-and-address h3 {
        font-size: 14px;
        padding-top: 8px;
        line-height: 20px;
    }

    .name-hotel-and-address {
        padding-left: 0;
    }

    .name-hotel-and-address span {
        display: none;
    }

    .one-room-popup-block > ul > li {
        vertical-align: top;
    }

    .menu-popup ul li a {
        font-size: 12px;
    }

    .one-room-popup-block > ul > li:nth-child(2) {
        width:45%;
    }

    .list-objects table tr td:nth-child(1) {
        font-size: 15px;
    }

    .one-room-popup-block > ul > li {
        width:30%;
    }

    .header-rooms-popup-block ul li {
        width:32%;
    }

    .conditions-rooms-popup-block ul li {
        vertical-align: top;
        font-size: 13px;
    }

    .wrap-img-room-popup-block {
        display: none;
    }

    .name-room-popup-block {
        width:auto;
        padding-left: 0;
    }

    .wrap-price-hotel {
        margin-top: 0;
    }

    .price-room-popup-block a {
        font-size: 12px;
    }

    .price-room-popup-block span {
        font-size: 14px;
    }

}