@media only screen and (max-width: 767px) {
	#wrapper {
		background-position: 0 !important;
		background-size:cover !important;
	}
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#wrapper {
    background-image: url(../images/stub.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -50px;
    position: relative;
}

.overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: black;
    opacity: .7;
}

.main-content {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 20%;
    z-index: 5;
}

.main-content h2 {
    font-size: 36px;
    font-weight: bold;
}

.main-content a {
    color: white;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    opacity: .9;
}

.main-content a:hover {
    opacity: 1;
    text-decoration: none;
}

.timer-for-start {
    background-color: #f5f5f5;
    width: 384px;
    max-width: 384px;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
    min-height: 500px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-authentification {
    width: 300px;
    border-radius: 2px;
    text-align: center;
    margin: 0 auto 25px;
    position: relative;
}

.logo-authentification img {
    width: 100%;
    height: 100%;
}

.timer-for-start {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    color: rgba(0,0,0,.87);
}

.timer-for-start h4 {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.timer-for-start span {
    text-align: center;
    color: rgba(0,0,0,.54);
    font-size: 13px;
    padding: 0 10px;
    display: block;
    text-align: center;
}

.timer {
    margin-top: 45px;
    margin-bottom: 35px;
}

.timer .countdown {
    text-align: center;
    padding-left: 0;
}

.timer .countdown li p {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

.timer .countdown li span {
    font-size: 34px;
    line-height: 34px;
    padding-bottom: 8px;
    color: rgba(0,0,0,.87);
}

.timer li {
    display: inline-block;
}

.wrapper-for-timer {
    background-color: white;
}

.subscription h4 {
    padding: 0 20px;
}

.auth-field {
    padding: .4375em 0;
    border-top: .84375em solid transparent;
    display: block;
    position: relative;
    flex: auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto 20px;
}

#email-auth {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    vertical-align: bottom;
    text-align: left;
}

.title-field {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    font-size: 13px;
    top: 10px;
    text-align: left !important;
    padding: 0 !important;
    color: black !important;
}

.error-field, .true-field {
    font-size: 12px;
    bottom: -20px;
    position: absolute;
    left: 0;
    display: none;
    color: red !important;
    padding: 0 !important;
    
}

.true-field {
    color: darkgreen !important;
}

.submit-auth {
    width: 70%;
    margin: 50px auto 40px;
    display: block;
    background: rgba(0,0,0,.12);
    color: rgba(0,0,0,.38);
    cursor: pointer;
        line-height: 37px;
/*    padding: 0 16px;*/
    border-radius: 2px;
    outline: 0;
    position: relative;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    opacity: .9;
    text-decoration: none;
}

.submit-auth:hover {
    text-decoration: none;
    opacity: 1;
}

.seperator {
    vertical-align: top;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
}