﻿@font-face {
    font-family: Noto; /* Имя шрифта */
    src: url(/fonts/NotoSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }

body, html {
    width: 100%;
    height: 100%;
    font-family: Noto;
    background-color: #f1f1f1;
}

#wrapper {
/*    margin-left:270px;*/
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: #1B2133;
    z-index: 9999;
    padding-bottom: 100px;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*padding-bottom: 100px;*/
}

.overflow {
    overflow-y: auto;
}

#sidebar::-webkit-scrollbar{
    width:5px;
}

#sidebar::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #769dd5;
}

#sidebar::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

#sidebar::-webkit-scrollbar-track{
    border-width:0;
}

#sidebar::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.logo-sidebar {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
}

.logo-sidebar i {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.profile-user {
/*    height: 125px;*/
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 5px;
/*    padding-left: 25px;*/
}

.profile-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.profile-user span {
    color: white;
    font-size: 18px;
    padding-left: 20px;
    line-height: 30px;
    padding-top: 8px;
    font-family: Noto;
    display: none;
    float: none;
}

.clear {
    clear: both;
}

.margin-top-20px {
    margin-top: 20px;
}

.main-menu ul li a {
    display: block;
    font-size: 13px;
    padding: 10px 0 10px 15px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
/*    border-bottom: 1px solid black;*/
}

.main-menu ul li a img {
    width:50%;
}

.main-menu ul li a.loop:before {
 content:attr(data-description);
 box-sizing:border-box;
 display:block;
 background:rgba(0,0,0,.7);
 color:white;
 padding:12px;
 position:absolute;
    margin-left: 55px;
    width: 220px;
/*
 width:200px;
 height:45px;
*/
 border-radius:5px;
 opacity:0;
    display: none;
/* transition:.25s ease-in-out;*/
}
 
.main-menu ul li a.loop:after {
 content:'';
 display:block;
 position:absolute;
 left:50%;
 margin-left:28px;
 height:0;
 width:0;
 border-left:8px solid transparent;
 border-right:8px solid transparent;
 border-top:8px solid rgba(0,0,0,.7);
/* transition:.25s ease-in-out;*/
 opacity:0;
    display: none;
transform: rotate(90deg);
}
 
.main-menu ul li a.loop:hover:before {
 opacity:1;
 top:1px;
display: block;
}
 
.main-menu ul li a.loop:hover:after {
 opacity:1;
 top:18px;
    display: block;
}





.main-menu:first-of-type {
    padding-bottom: 5px;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.main-menu ul {
    margin-bottom: 0;
}

.main-menu ul li a i {
    padding-right: 10px;
    font-size: 24px;
}

.main-menu ul li a span {
    position: absolute;
    opacity: 0;
    left: -9999px;
}

.main-menu ul li a.active, .main-menu ul li a.loop:hover, .menu-hover li a:hover{
    background-color: #0C1224;
}

.main-menu .caption-list li a {
    color:#515974;
    text-align: center;
    padding: 10px 0 35px;
}

.main-menu .caption-list li a i {
    float: right;
    padding-right: 20px;
    line-height: 23px;
}

#topMenu {
    background-color: white;
    border-bottom: 1px solid #ccc;
    width: 100%;
/*    height: 90px;*/
    padding-top: 25px;
    box-shadow: 0px 3px 4px -5px #000000;
}

.logo {
    width: 245px;
}

.logo img {
    width: 100%;
    height: 100%;
}

#topMenu label {
    position: relative;
    width: 60%;
    float: left;
}

#topMenu input {
    border: none;
/*    margin-top: 30px;*/
    margin-left: 25px;
    font-size: 16px;
    padding: 7px;
    color: black;
    outline: none;
    width: 100%;
}

#topMenu input::-webkit-input-placeholder {color:black;letter-spacing: 1px;}

#topMenu label i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 22px;

}

.mini-menu {
    float: right;
    padding-top: 7px;
}

.mini-menu ul li {
    display: inline-block;
}

.mini-menu ul li a {
    text-decoration: none;
}

.mini-menu ul li a i {
    display: block;
    color: black;
    font-size: 24px;
    margin-right: 20px;
}


#breadcrumbs {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 7px;
}

.list-breadcrumbs > a {
    color: black;
}

.list-breadcrumbs ul li {
    display: inline-block;
}

.list-breadcrumbs ul {
    margin-bottom: 0;
}

.list-breadcrumbs ul li a {
    font-size: 13px;
    color:black;
}

.style-page {
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    min-height: 600px;
    padding-bottom: 25px;
}

#cke_text-news {
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

.field {
    clear:both;
    text-align:right;
    line-height:25px;
    margin-bottom: 15px;
}

.field > label {
    float:left;
    padding-right:150px;
    line-height: 35px;
    font-weight: normal;
}

.field input[type="text"], .field select, .field input[type="password"], .field input[type="email"] {
    width: 335px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
}

.wrapper-add-room form {
    float:left;
    padding-bottom: 30px;
}

hr {
    margin-top: 10px;
}

.list-services-room ul li {
/*    width: 30%;*/
    background: #fff;
    border: 1px solid #adadad;
    border-top: none;
    margin-bottom: 20px;
/*    float: left;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
    margin-right: 40px;
}

.list-services-room ul li:nth-child(3n) {
    margin-right: 0;
}

.grid-item {
    width: 45%;
}

.caption-filter-block {
    background: #e6e6e6;
    font-size: 14px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #adadad;
    font-weight: bold;
    display: block;
}

.filter > .list-checkbox > table > tbody > tr > td > label > input[type="checkbox"]:not(:checked), .services-object input[type="checkbox"]:not(:checked), .data-reservation input[type="checkbox"]:not(:checked) {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-appearance: none;
    padding: 10px;
    margin: 10px 10px 0;
}

.filter > .list-checkbox > table > tbody > tr > td > span, .services-object span {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 5px;
    font-weight: normal;
    padding-top: 10px;
}


.filter > .list-checkbox > table > tbody > tr > td > label > input[type="checkbox"]:checked, .services-object input[type="checkbox"]:checked, .data-reservation input[type="checkbox"]:checked {
    width: 22px;
    height: 22px;
    background: #fff;
    background-image: url(../images/checkbox.svg);
    background-position: center center;
    background-size: 160% 160%;
    box-shadow: 1px 1px 1px #333;
    margin: 10px 10px 0;
    padding: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

.text-room {
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-save-room {
        text-align: center;
    background-color: #769DD5;
    color: white;
    padding: 12px;
    border-radius: 2px;
    display: inline-block;
    opacity: 0.9;
    margin: 25px 10px 25px 0;
    border: none;
    width: 250px;
    opacity: .9;
}

.telefons-contacts span {
    display: block;
    float: left;
    
}

.telefons-contacts ul {
    display: block;
    float: left;
    padding-left: 10px;
}

.telefons-contacts ul li {
    color: #769dd5;
}


.btn-save-room:hover{
    color:white;
    text-decoration: none;
    opacity: 1;
}

#wrapperCopyright{
    min-height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #769DD5;
}

.copyright {
    text-align: center;
    color: white;
    line-height: 50px;
}

.right-sidebar {
    margin-top: 20px;
}

.wrapper-calendar i {
    font-size: 70px;
    text-align: center;
    display: block;
    color: #769dd5;
}

.wrapper-calendar a {
    text-align: center;
    display: block;
    padding-top: 5px;
}

.wrapper-help {
    background-color: #f1f1f1;
    margin-top: 30px;
    padding: 10px;
    min-height: 150px;
}

.wrapper-help span.caption {
    font-size: 16px;
}

.list-contacts > ul > li {
    margin-bottom: 10px;
}

.list-contacts > ul > li > i {
    float: left;
    font-size: 20px;
    color: #769dd5;
}

.list-contacts > ul > li > ul {
    padding-left: 30px;
}

#file-field {
    visibility: hidden;
}

#upload-images {
    display: none;
}


.wrapper-for-img {
    display: inline-block;
    list-style: none;
    padding: 9px;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
    width: 245px;
    position: relative;
    height: 200px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper-for-img i {
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: darkred;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 22px;
    text-align: center;
    line-height: 22px;
    
}

.display-none {
    display: none;
}

.wrapper-for-img img {
    width: auto;
    height: 100%;
}

#upload_image .img-clone {
    display: none;
}

.gallery_images {
    margin-bottom: 10px;
}

.delete-image {
    position: absolute;
    background: #d9534f;
    width: 20px;
    height: 20px;
    top: -15px;
    border-radius: 0 3px 0 0;
    right: -15px;
    z-index: 6;
    color: white;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
}

#upload_image {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 3px;
}

#img-list li img {
    height: 150px !important;
    width: 150px;
}

.wrapper-beds {
    background-color: #F5F5F5;
    width: 100%;
    min-height: 115px;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 25px;
}

.wrapper-beds span{
    padding-bottom: 5px;
    display: block;
}

.wrapper-beds select {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 335px;
}

.wrapper-beds table {
    margin-bottom: 10px;
}

.wrapper-beds table tr {
    margin-bottom: 10px;
}

.wrapper-beds table td {
    line-height: 36px;
    padding-right: 10px;
    border-bottom: 10px solid #f5f5f5;
}

/*
.standart-field-bed {
    display: none;
}
*/

.style-for-btn-delete {
/*    margin-top: 7px;*/
}

.style-for-select-prepayment select {
    width: 217px !important;
}

.select-style-penalty {
    width: 115px !important;
}

.style-for-select-annulation {
    display: block;
    margin-top: 15px;
}

.wrapper-annulation {
    display: none;
}

.wrapper-radio-btn {
    width: 325px;
    float: right;
    display: block;
}

.style-radio-btn {
    float:left;
    text-align: left;
}

.style-radio-btn label input[type="radio"] {
    transform: scale(1.3);
}


.style-radio-btn label span {
    padding-left: 5px;
}

.style-radio-btn label {
    vertical-align: top;
    cursor: pointer;
    font-weight: normal;
}

.style-for-select-collection {
    width: 75px !important;
}

.style-wrapper-radio-btn {
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 7px;
}


.services-object td {
    vertical-align: middle;
    display: inline-block;
    border-bottom: 10px solid #fff;
}

.services-object tr {
/*    width: 33.3%;*/
    display: inline-block;
}

.services-object span {
    width:235px;
}

.services-object td input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0;
}

.object-where-about {
    margin-top: 20px;
    margin-bottom: 20px;
}

.object-where-about td span{
    display: block;
    font-weight: bold;
}

.object-where-about td input, .object-where-about td select {
    padding: 7px;
    width: 230px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 36px;
}

.object-where-about td {
    border-bottom: 10px solid white;
    border-right: 35px solid white;
}

.btn-remove-object {
    margin-top: 22px;
}

.standart-string-add-object {
    display: none;
}

.hidden-file-field {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#img-preview {
    width: 100%;
}

.wrapper-list-rooms {
    margin-top: 20px;
}

.room-object {
    width: 48%;
    margin-right: 2%;
    min-height: 350px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 2%;
/*    padding: 10px;*/
}

.room-object:nth-child(2n) {
    margin-left: 1%;
    margin-right: 0;
}

.img-room {
    height: 265px;
    position: relative;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.img-room img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
}

.img-room .wrapper-caption {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
/*    background-color: black;*/
    
}

.img-room .wrapper-caption .overlay-caption {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    position: absolute;
    z-index: 2;
}

.img-room span {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    position: absolute;
    padding: 8px 12px;
/*    top: 0;*/
    z-index: 3;
}

.content-room {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
}

.content-room span {
    padding-bottom: 10px;
    display: block;
}

.content-room a {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 185px;
}

/* бронирование номеров */

.caption-page a {
    float: right;
    margin-left: 10px;
}

.data-reservation tr {
    border-bottom: 20px solid white;
}

.data-reservation table span {
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
}

.data-reservation input[type="text"], .data-reservation select {
    padding: 7px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 10px;
} 

.checkbox-no-checked-query {
    margin-top: 30px;
    margin-left: 2px;
}

.checkbox-no-checked-query input[type="checkbox"] {
    margin:0 3px 0 0 !important;
}

.list-conditions {
    margin-top: 10px;
}

.list-conditions span {
    float: left;
    font-weight: bold;
    padding-right: 20px;
}

.list-conditions ul {
    float: left;
    margin-right: 10px;
}

.list-conditions ul li {
    display: inline-block;
    font-weight: normal;
    border-bottom: 1px dashed;
    margin-right: 15px;
}

.list-conditions ul li a:hover {
    text-decoration: none;
}


.wrapper-period input {
    width: 135px !important;
    margin-left: 2px;
}

.wrapper-period span {
    padding-right: 0 !important;
    margin-top: -5px;
}

.wrapper-period span b {
    padding-right: 10px;
}

.list-reservation-content{
    margin: 20px 10px;
}

.list-reservation-content table {
    width: 100%;
}

.list-reservation-content th {
    font-weight: bold;
    text-align: center;
    padding-bottom: 7px;
    font-size: 12px;
}

.list-reservation-content td {
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

.td-name {
    width: 15%;
}

.list-reservation-content tr:nth-child(2n){
    background-color: #f1f1f1;
}

.success-order, .fail-order {
    color: green;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    display: block;
}

.fail-order {
    color:darkred;
}

.full-info-about-price {
    margin-top: 15px;
    float: right;
}

.full-info-about-price span {
    display: inline-block;
    margin-left: 10px;
}




/* конец страницы бронирования номеров */

/* Главная страница */

.wrapper-tabs-global {
    width: 810px;
    padding-bottom: 20px;
}

.wrapper-tabs {
    width: 810px;
    border: 1px solid #ccc;
}

.wrapper-tabs-global h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 30px;
}

.link-tab {
    width: 810px;
}

.link-tab ul {
    margin-bottom: 0;
}

.link-tab ul li {
    float: left;
}

.link-tab ul li a {
    display: block;
    width: 270px;
    padding: 15px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-top: none;
}

.link-tab ul li a.active {
    font-weight: bold;
    color: black;
    background-color: white;
    border-bottom: none;
}

.list-tabs > ul > li {
    border-bottom: 1px solid #ccc;
    min-height: 80px;
    width: 100%;
    padding: 10px;
}

.list-tabs > ul > li:last-child {
    border-bottom: none;
}

.list-tabs > ul li > span:first {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    display: block;
    padding-bottom: 10px;
}

.list-tabs > ul > li > span > i {
    font-size: 28px;
    padding-right: 6px;
    float: left;
}

.list-tabs ul li span b {
    padding-top: 3px;
    float: left;
    letter-spacing: 1px;
}

.review-color {
    color:#BD8B02;
}

.comein-color {
    color:#0099CC;
}

.comeout-color {
    color: #808080;
}

.new-reservation-color {
    color:#003580;
}

.sublist-info {
    padding-left: 30px;
    padding-bottom: 10px;
}

.sublist-info table {
    width: 100%;
}

.sublist-info table tr {
    border-bottom: 7px solid white;
}

.sublist-info table tr td {
    vertical-align: middle;
}

.user-review {
    width: 300px;
}

.user-review-raiting {
    width: 250px;
    text-align: center;
}

.see-review-object {
    text-align: right;
}

.sublist-info table ul {
    padding-left: 30px;
}

.sublist-info table ul li {
    display: inline-block;
}

.sublist-info table ul i {
    font-size: 7px;
/*    vertical-align: middle;*/
    color:#769dd5;
    margin-top: -5px;
}

.sublist-info table ul li a {
    font-size: 13px;
}


/* Конец главной страницы */

/* Страница общие сведения */

.item-info {
    width: 100;
    
    border: 1px solid #ccc;
    border-radius: 3px;
    min-height: 300px;
/*    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.list-block-general-info > form > ul > li {
    margin-bottom: 25px;
}

.item-info h4 {
    padding: 7px;
}

.item-info .wrapper-field-form {
    padding: 5px 20px;
}

.item-info .wrapper-field-form .field label {
    font-size: 13px;
}

.item-info .wrapper-field-form .field input, .item-info .wrapper-field-form .field select {
    width: 300px;
}

.style-for-field-index {
    width: 100px !important;
}

.style-for-field-city {
    width: 187px !important;
    padding: 7px 0 !important;
}

.style-for-textarea-address {
    width: 100%;
    border:1px solid #ccc;
    resize: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.style-for-caption-textarea-address {
    font-size: 12px;
    font-weight: bold;
}


/* Конец страницы общие сведения */

/* Страница отзывов */


.pagination {
    border-radius: 3px;
    display: block !important;
}

.pagination ul li {
    float: left;
}

.pagination ul li a {
    display: block;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left: none;
}

.pagination .disabled {
    background-color: #f1f1f1;
    cursor: inherit;
    cursor: not-allowed;
}

.pagination .active {
    background-color: #428bca;
    color:white;
    cursor: not-allowed;
}



.border-left {
    border-left: 1px solid #ccc !important;
}

.border-left-none {
    border-left:none;
}

.style-for-select-allreviews {
    float:right;
    height: 39px;
}


.item-review {
    width: 100%;
/*    height: 300px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
}

.review-caption {
    padding: 12px;
    width: 510px;
    height: 120px;
}

.review-caption .raiting {
    float: left;
}

.number-raiting {
    font-size: 44px;
}

.date-review-and-number-reservation {
    color: gray;
    float: left;
    padding-top: 10px;
    padding-left: 8px;
}

.date-review-and-number-reservation span {
    padding-right: 15px;
}

.style-link-object {
    padding-left: 8px;
    float:left;
}

.name-user-review {
    font-size: 14px;
}

.characteries-review {
    background-color: #F4F4F4;
    border-top: 1px solid #ccc;
    height: 160px;
    width: 100%;
    padding: 10px;
    padding-top: 15px;
    
}

.characteries-review ul > li {
    display: block;
    width: 47%;  
    float: left;
    margin-bottom: 15px;
}

.characteries-review ul > li:nth-child(2n) {
    margin-left: 5%;
}

.number-charactery-review {
    float: right;  
}

.style-progress-bar {
    width: 100%;
    height: 5px;
    position: relative;
    background-color: #ddd;
    margin-top: 3px;
    z-index: 1;
}

.style-progress {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #769dd5;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.wrapper-reviews {
    padding-bottom: 20px;
}

/* Конец страницы отзывов */

/* Страница календаря */

.dropdown-menu>li>a {
    text-align: left;
}

.style-calendar {
    border-collapse: collapse;
}

.style-calendar td {
    border: 1px solid black;
/*    text-align: center;*/
/*    padding: 55px;*/
    height: 150px;
/*    padding: 5px;*/
    position: relative;
}

#calendarTable {
    padding-bottom: 25px;
}

#calendarTable table {
    width: 100%;
/*    margin-top: 20px;*/
}

#calendarTable table th {
    text-align: center;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 5px;
    border: 1px solid black;
    text-transform: uppercase;
}

#calendarTable a {
    height: 100%;
    display: block;
}

#calendarTable a:hover, #calendarTable a:hover .number-day-calendar {
    text-decoration: none;
    background-color: #A0C5E8;
    color: white;
}

.list-month {
    background-color: #769dd5;
    margin-top: 15px;
}

.list-month ul {
    margin: 0;
}

.list-month ul li{
    display: inline-block;
    padding: 7px;
}

.list-month ul li a {
    color:black;
}

.list-month ul li a.active {
    color:white;
}


.number-day-calendar {
    height: 40px;
    text-align: left;
    color: white;
    background-color: #f4f4f4;
    display: block;
/*    width: 40px;*/
    font-weight: bold;
/*    border-radius: 40px;*/
}

 ul.info-calendar-day {
    padding: 10px 0 0 5px;
}

.info-calendar-day li {
    font-size: 13px;
    
}

.info-calendar-day li:hover {
    text-decoration: none;
}

.color-red {
    color:brown;
    font-weight: bold;
}

.color-green {
    color:green;
    font-weight: bold;
}

.number-day-calendar span {
    background-color: #BFC4C7;
    width: 40px;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.number-day-calendar b {
    text-align: right;
    color: black;
    float: right;
    line-height: 40px;
    padding-right: 8px;
}

.list-info-room {
    padding: 8px;
}

.list-info-room ul li {
    font-size: 12px;
}



/* Конец страницы календаря */




/* Страница добавления услуг для обьектов */

.list-services-block {
    margin-bottom: 15px;
}

.list-services-block table {
    width: 100%;
    border-collapse: collapse;
}

.list-services-block table tr th {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.list-services-block table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.btn-add-services-style {
    margin-bottom: 15px;
}

.style-form-edit-service {
    width: 800px;
}


/* Конец страницы добавления услуг для обьектов */

.style-page h4 {
    margin-top: 20px;
}

#address {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 420px;
    margin-bottom: 10px;
}

.more-style-page {
    width: 900px;
}


/* Мини стили для админ панели меню */


.message-errors-upload-image {
    position: fixed;
    width: 500px;
    top: -200px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%);
}

.td-btn-delete {
    position: relative;
}

.prepareBlockDelete {
    position: absolute;
    width: 200px;
    z-index: 9999;
    background-color: white;
    padding: 5px;
    top: -55px;
    left: -30px;
    display: none;
}

.prepareBlockDelete span {
    display: block;
    text-align: center;
}

.prepareBlockDelete::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    bottom: -6px;
    left: 90px;
}

.string-pluse-style:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.filter .list-checkbox table {
    width: 100%;
}

.string-checkbox-style {
    width:5%;
}


.btn-delete-style, .btn-delete-style-pattern {
    display: none;
}


.text-this-user-about-object {
    padding: 20px 20px 0 50px;
}

.text-this-user-about-object > .positive-text > i, .text-this-user-about-object > .negative-text > i {
    float: left;
    margin-left: -20px;
}

.text-this-user-about-object > .positive-text > i {
    color: #769dd5;
}

.text-this-user-about-object > .negative-text > i {
    color: firebrick;
}
/* Конец мини стилей для админ панели меню */


.wrapper-table-orders table {
    width:100%;
}

.wrapper-table-orders table td, .wrapper-table-orders table th {
    padding: 7px;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 35px;
}

.wrapper-table-orders table th {
    border: none;
    font-weight: bold;
}

.wrapper-input-period #datetimepicker1, .wrapper-input-period #datetimepicker2 {
    width: 162.5px;
}

.btn-order-style {
    margin: 15px 15px 15px 0;
    text-align: center;
}

.wrapper-room-field {
    display: none;
}

.full-price-reservation, .prepayment-style, .all-price {
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}

.full-price-reservation label, .prepayment-style label, .all-price label {
    line-height: 25px !important;
}

.wrapper-list-objects-ajax, .wrapper-telefon-field {
    position: relative;
}

.list-objects-ajax, .user-ajax {
    position: absolute;
    background-color: white;
    width: 335px;
    z-index: 99999;
    min-height: 50px;
    border-radius: 3px;
    border: 1px solid #ccc;
    right: 0;
    top: 40px;
    display: none;
    height:300px;
    overflow: auto;
}

.list-objects-ajax ul li, .user-ajax ul li {
    text-align: left;
    padding: 5px;
    cursor: pointer;
    display: block;
}

.list-objects-ajax ul li:hover, .user-ajax ul li:hover {
    background-color: #769dd5;
    color: white;
}

.display-block {
    display: block !important;
}

.wrapper-room-field {
    margin-bottom: 10px;
}

.btn-remove-room-style {
    margin-top: 10px;
}

.style-for-close-popup-user {
    position: absolute;
    top:5px;
    right: 5px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    display: none;
}

.message-reservation, .message-reservation-error, .message-reservation-error-count-people {
    position: fixed;
    width: 400px;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.btn-add-room {
    display: none;
}


.wrapper-table-reservation table{
    width: 100%;
}

.wrapper-table-reservation table tr:nth-child(2n) {
    background-color: #f1f1f1;
}

.wrapper-table-reservation table td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.wrapper-table-reservation table th {
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.btn-delete-reservation {
    background-color: brown;
}

.wrapper-info-reservation {
    padding: 0 20px 20px 0px;
    margin-bottom: 30px;
}


.info-about-reservation-date .caption, .main-info-about-reservation .caption {
    display: block;
    font-size: 13px;
    padding-bottom: 5px;
    color: dimgray;
}

.style-for-value-reservation {
    font-size: 18px;
    padding-bottom: 5px;
    display: block;
}

.wrapper-email-and-telefon {
    padding-top: 5px;
    padding-bottom: 20px;
}

.wrapper-email-and-telefon a {
    display: block;
    font-size: 16px;
    padding: 5px 0 0 0;
}

.padding-0px {
    padding: 0 !important;
}

.main-info li {
    margin-bottom: 10px;
}

.main-info-about-reservation {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.room-reservation {
    width: 100%;
    margin-bottom: 20px;
}

.caption-room {
    min-height: 100px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 15px;
    position: relative;
}

.caption-room span b {
    font-size: 17px;
}

.date-reservation-room {
    padding-top: 5px;
}

.date-reservation-room li {
    display: inline-block;
    padding-right: 15px;
}

.date-reservation-room li span {
    font-size: 13px;
}

.date-reservation-room li span i {
    padding-right: 5px;
}

.price-for-that-room {
    position: absolute;
    right: 15px;
    top: 35px;
}

.price-for-that-room b {
    font-size: 16px;
}

.margin-left-10px {
    margin-left: 10px;
}

.mini-info-room {
    margin-top: 25px;
}

.mini-info-room .caption {
    font-size: 12px;
}


.img-room-reservation img {
    width: 100%;
    height: 100%;
}

.mini-info-room .style-for-value-reservation {
    font-size: 14px;
}

.mini-info-room li {
    border-bottom: 1px solid #ccc;
}

.sidebars-style {
    width: 50%;
    float: left;
}


.info-about-price-this-room {
    margin-top: 25px;
    padding-left: 40px;
}

.right-sidebar-room {
    text-align: right;
}

.info-about-price-this-room li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.info-nds {
    font-size: 13px;
    padding-top: 10px;
    display: block;
}

.js-tabs {
    min-height: 400px;
    position: relative;
}

.spinner-home {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
    padding: 20px 12px;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 13px;
}

.search-field {
    width: 400px;
    text-indent: 20px;
    font-weight: normal;
}

.search-field-td {
    width: 400px;
    position: relative;
}


.search-object-table {
    margin: 0 auto;
}

.search-object-table td {
    padding-right: 25px;
    vertical-align: middle;
}

.submit-btn-home-search {
    background: #413E43;
    color: white;
    width: 180px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    text-shadow: 1px 1px 1px #333;
    font-weight: bold;
    opacity: 0.9;
}

.submit-btn-home-search:hover {
    background: #413E43;
    opacity: 1;
}


.search-field-td .icon-search-string {
    position: absolute;
    top: 35px;
    z-index: 2;
    font-size: 18px;
    color: #ccc;
    left: 10px;
}

.search-object-table .datepicker {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px 12px;
}

.list-search-objects {
    width: 100%;
}

.object {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    
}

.object .wrapper-img-search-object {
    width: 150px;
    float: left;
}

.object .wrapper-img-search-object img {
    width: 100%;
    height: 100%;
}

.mini-info-object {
    float: left;
    width: 400px;
    margin-left: 15px;
}

.mini-info-object span {
    display: block;
}

.rooms-that-object {
    margin-top: 40px;
}

.rooms-that-object table {
    width: 100%;
    text-align: center;
}

.rooms-that-object table tr:nth-child(1) td {
    border: none !Important;
    font-weight: bold;
    
}

.rooms-that-object table td {
    border: 1px solid #ccc;
    padding: 15px;
/*    width: 20%;*/
    vertical-align: middle;
}

.telefons-object {
    font-size: 16px;
    font-weight: bold;
}

.result-search {
    width: 400px;
    min-height: 100px;
    position: absolute;
    background-color: white;
    margin-top: -24px;
    display: none;
    padding-top: 10px;
    z-index: 9999;
    border: 1px solid #ccc;
}

.result-search > .wrapper-field-search > .caption-search {
    font-weight: bold;
    display: block;
    font-size: 18px;
    padding: 10px;
    display: none;
}

.wrapper-field-search > ul > li {
    color: black;
    padding: 5px 37px;
    cursor: pointer;
}

.wrapper-field-search > ul > li:hover {
    text-decoration: underline;
    background-color: #769dd5;
    color: white;
}



.wrapper-for-reloader i.fa-spinner {
    position: absolute;
    font-size: 36px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


.wrapper-for-reloader {
    position: relative;
    min-height: 300px;
}

.avg-reviews-block h4 {
    margin-top: 25px;
    font-size: 18px;
}

.count-reviews-object {
    font-size: 28px;
}

.list-avg-value-reviews-object {
    margin-top: 20px;
}


.list-avg-value-reviews-object ul li {
    margin-bottom: 15px;
}

.list-avg-value-reviews-object ul li .value-avg-reviews {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    height: 50px;
    margin-top: 3px;
}

.value-avg {
    background-color: #769dd5;
    color: white;
    text-align: center;
    width: 40px;
    padding:5px;
    margin-top: 5px;
    border-radius: 3px;
    float: left;
}

.line-status-value {
    width: 80%;
    border-radius: 3px;
    background-color: #f1f1f1;
    position: relative;
    height: 10px;
    float: left;
    margin: 15px 0 0 8px;
}


.line-progress {
    position: absolute;
    left: 0 !important;
    top: 0;
    height: 100%;
    background-color: #769dd5;
    border-radius: 3px;
}


.no-confirmed-account {
    margin-top: 15px;
}

.first-tab-content {
    padding-top: 20px;
}

.message-danger-calendar {
    margin-top: 25px;
}

.message-danger-calendar a {
    width: 200px;
    margin-top: 15px;
}

.create-ticket-form {
    background-color: #EFF3F6;
    position: relative;
}

.create-ticket-form form {
    width: 90%;
    padding: 20px;
    text-align: center;
}

.create-ticket-form label {
    padding-right: 15px;
}

.create-ticket-form input[type="text"] {
    width: 83% !important;
}

.create-ticket-form textarea {
    width: 83%;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.create-ticket-form input[type="submit"] {
    width: 200px;
    float:left;
    margin-left: 107px;
}

.list-tickets, .list-tickets-admin {
    margin-top: 25px;
    margin-bottom: 40px;
}

.list-tickets table, .list-tickets-admin table, .list-objects-admin table {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

.list-tickets table tr th, .list-tickets table tr td, .list-tickets-admin table tr th, .list-tickets-admin table tr td, .list-objects-admin table tr th, .list-objects-admin table tr td {
    padding: 10px;
    background-color: #EFF3F6;
}

.list-tickets table th, .list-tickets-admin table th, .list-objects-admin table th {
    border-bottom: 2px solid #769dd5;
    background-color: white !important;
}

.red {
    color: red !important;
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}

.list-objects-admin table tr:nth-child(2n) {
    background-color: #f1f1f1;
}

.list-objects-admin table tr td {
    background-color: inherit;
}


@keyframes blink {
  50% { color: rgb(255, 0, 0); }
/*  51% { color: rgba(34, 34, 34, 0); }*/
  100% { color: rgba(34, 34, 34, 0); }
}


.list-tickets table tr:nth-child(1n+2):hover, .list-tickets-admin table tr:nth-child(1n+2):hover, .list-objects-admin table tr:nth-child(1n+2):hover {
    border-left: 2px solid #769dd5;
}

.list-telefons-supports {
    margin-bottom: 40px;
    width:300px;
}

.list-telefons-supports b {
    padding-right: 15px;
    display: block;
    float: left;
    width: 100px;
}

.list-messages {
    margin-top: 50px;
    margin-bottom: 75px;
}

.list-messages table {
    width: 100%;
}

.img-author {
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.time-message {
    text-align: center;
    padding-top: 15px;
    display: block;
    color: #7d7e81;
}

.mini-info-message {
    color: #7d7e81;
    font-size: 13px;
}

.theme-style  {
    padding: 20px 20px 0;
    width: 80%;
    font-size: 20px;
}

.ticket-id {
    font-size: 16px;
    line-height: 50px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    top: 15px;
}

.ticket-info-manager {
    padding-left: 20px;
    font-size: 13px;
    color:#7d7e81;
    display: block;
}

.text-message-style {
    padding-bottom: 45px;
}

.fa-status-object {
    font-size: 20px;
    text-align: center;
    display: block;
}

.list-objects-admin table tr th, .list-objects-admin table tr td {
    text-align: center;
    vertical-align: middle;
}

.tab-content {
    padding-top: 20px;
}

.js-popup-reservation {
    position: relative;
}

.js-popup-past-reservation {
    position: absolute;
    top:-84px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border: 1px solid #ccc;
    opacity: 0;
}

.js-popup-past-reservation::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;	border-top: 10px solid #769dd5;
    left: 43%;
}

.js-popup-past-reservation ul {
    margin: 0;
}

.js-popup-past-reservation ul li a {
    display: block;
    padding: 10px;
    text-align: left !Important;
    background-color: #fafafa;
    border-bottom: 1px solid #769dd5;
}

.js-popup-past-reservation ul li a:nth-child(2) {
    border: none;
}

.js-popup-past-reservation ul li a:hover {
    background-color: #769dd5;
    color: white;
    text-decoration: none;
}

.js-message-success {
    opacity: 0;
    position: fixed;
    left: 50%;
    top:-10%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.tab-content table {
    width:100%;
}

.tab-content table tr td {
    vertical-align: middle;
    padding: 10px 5px;
}

.object-img {
    width: 300px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.gallery-images-object {
    text-align: center;
}

/*
.gallery-images-object ul li {
    width: 230px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px 15px;
}

.gallery-images-object ul li img {
    width: 100%;
    max-height: 100%;
}
*/


.tab-content table input[type="text"], .tab-content table textarea {
    width: 90%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.list-service-object ul li, .list-about-object ul li {
    padding: 7px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    min-height: 51px;
}


.wrapper-message-about-problem {
    position: fixed;
    top:50%;
    left: 50%;
    width: 500px;
    height: 200px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
    z-index: 12;
}

.wrapper-message-about-problem textarea {
    resize: vertical;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.close-popup-problem {
    border-radius: 50%;
    background: #fff;
    color: #000;
    top: 0;
    right: 0;
    position: absolute;
    padding: .5em;
    z-index: 3;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
}

.close-popup-problem:hover {
    background-color: #769dd5;
    color: white;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    display: none;
    opacity: 0.8;
    z-index: 11;
}

.status-select {
    font-size: 13px;
    padding-top: 5px;
    display: block;
}

.wrapper-for-errors span {
    display: block;
}

.is-discount-in-day {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background-color: firebrick;
    display: block;
    font-size: 13px;
    padding: 3px;
    border-radius: 2px 0 0 2px;
}

.message-errors {
    font-size: 16px;
    position: fixed;
    top: 45%;
    right: 0;
    width: 27px;
    height: 165px;
    cursor: pointer;
    background: #769DD5;
    border: 2px solid #fff;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    box-shadow: -2px 3px 4px -2px rgba(0,0,0,0.7);
    z-index: 999;
}

.message-errors a {
    color:white;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 150px;
    height: 146px;
    display: block;
    text-decoration: none;font-size: 13px;
}


.content-reference img {
    width: 100%;
    margin-bottom: 15px;
}

.caption-reference {
    display: block;
}

/* админка заявки обьектов стили */

.application-form {
    width: 615px;
}


.list-application-object {
    width: 100%;
    text-align: center;
}

.list-application-object th {
    text-align: center;
    border-bottom: 2px solid #769dd5;
}

.list-application-object tr td, .list-application-object th {
    padding: 10px;
    vertical-align: middle;
}


.list-application-object tr:nth-child(1n+2):hover {
    border-left: 2px solid #769dd5;
}

.tab-pane .wrapper-for-img {
    width: 210px;
}

.btn-width {
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}

.status-reservation {
/*    float: right;*/
    margin-right: 15px;
    background-color: #769dd5;
    border-radius: 3px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 8px;
}

.wrapper-person-style {
    position: relative;
}

.info-count-person-room {
    position: absolute;
    width: 200px;
    top: 0px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    right: -220px;
    padding: 5px;
    text-align: center;
}

.wrapper-table-reservation {
    margin-bottom: 15px;
}

.wrapper-button-change-status {
    position: relative;
}

.block-for-change-status {
    position: absolute;
    background-color: white;
    width: 95%;
/*    box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset; */
    left: 0;
    top: -55px;
    border: 1px solid #ccc;
    display: none;
    
}

.block-for-change-status ul {
    margin-bottom: 0;
}

.block-for-change-status ul li {
    display: block;
    border-bottom: 1px solid #ccc;
}

.block-for-change-status ul li:last-child {
    border-bottom: none;
}

.block-for-change-status ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.block-for-change-status::after {
    content: ' ';
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #769dd5;
    position: absolute;
    bottom: -12px;
    left: 47%;
}

.block-for-change-status ul li a:hover {
    background-color: #769dd5;
    color: white;
}

.img-pluse {
    display: block;
    margin-top: 10px;
}

.field textarea {
    width:335px;
    resize:none;
    height:150px;
}

.img-news-style {
    width: 250px;
    margin: 25px 0;
    display: block;
}

.popup-wishes, .popup-pluses {
    position: fixed;
    width:400px;
    background-color: white;
    height: auto;
    overflow-y: hidden;
    left:50%;
    top:50%;
    z-index: 9999;
    transform:translate(-50%, -50%);
    display:none;
    padding: 15px 25px;
}

.btn-close-popup{
    position: absolute;
    right: 12px;
    top: 15px;
}


/*preloader*/

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 9999;
}

.loader-line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.active-star {
    color:#FFC926;
}

/* endpreloader */

.overlay-category {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    opacity: .8;
    display: none;
    z-index: 10;
}

.checkout-order {
    color:orange;
}


.reservation-style-mobile, .menu-mobile {
    display: none;
}

.wrap-chart-reservation {
    width:400px !important;
    display: inline-block;
}

.month-select-style {
    display: block;
    margin: 0 auto;
    width:200px;
    height: 30px;

}

.btns-chart-line {
    width:420px;
    margin: 0 auto 20px;
}

.btns-chart-line li {
    display: inline-block;

}

.btns-chart-line li a {
    display: block;
    width:200px;
    padding: 7px;
    color:white;
    background-color: #00acee;
    text-align: center;
}
